<!-- Launch file for the assigner -->
<launch>
  <arg name="robot_index" default="0"/>

  <node pkg="frontier_exploration" type="Burgard_assigner.py" name="Burgard_assigner_$(arg robot_index)" output="screen">
  <param name="map_topic" value="/map"/>
  <param name="info_radius" value="1"/> 
  <param name="info_multiplier" value="3.0"/> 
  <param name="hysteresis_radius" value="3.0"/> 
  <param name="hysteresis_gain" value="2.0"/> 
  <param name="frontiers_topic" value="/filtered_frontiers"/> 
  <param name="n_robots" value="3"/>
  <param name="delay_after_assignement" value="1.0"/>
  <param name="rate" value="10"/>
  </node>

</launch>

